
*.runtime-xml
*.log
Saved/Crashes/UECC-Windows-C2051DDE45F252A718EFAF8C3486D834_0000/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-C2051DDE45F252A718EFAF8C3486D834/CrashReportClient.ini
*.log
